{{ template "head" .}}

<div id="root">
    <form id="login" action="/login" method="post">
        <div id="login-box">
            <img class="remove-background-from-image" src="https://www.cosasdns.com/img/logo-300x80.png" alt="media.cosasdns.com logo">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="****" />
            <label id="ErrorNode" class="text-danger text-right d-none"></label>
            <button id="SignIn" class="primary">Sign in</button>
        </div>
    </form>
</div>

<script src="/public/js/login.js" type="module" defer></script>
<link rel="stylesheet" href="/public/css/login.css" />
{{ template "footer" .}}